
body {
    text-align: center;
}
html {
    scroll-padding: var(--height-header);
}
img {
    max-width: 100%;
}
#portfolio, #bg-banner, #about, #contact, .footer-top, .footer-bottom{
    padding-bottom:4rem;
}
:root {
    --height-header: 4rem;
    --line-space: 1.5rem;
}
/* HEADER */
header {
    width:100%;
    height: var(--height-header);
    background-color: #2c3e50;
    color:white;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}
header [class^="col"] {
    line-height: var(--height-header);
    
}
header .brand {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: left;
}
header ul {
    list-style-type: none;
    text-align: right;
    justify-content: flex-end;
}
header .mobile {
    cursor: pointer;
    /* border: 2px solid white;
    border-radius: 10px; */

}
header a {
    color:inherit;
    text-decoration: none;
    margin-right:15px;
}
header a:hover {
    color:rgb(253, 201, 59);
    font-size: 1.2rem;
}
/* BANNER */
#banner {
    background-color: #1abc9c;
    margin-top: var(--height-header);
    color:white;
}
.avatar img {
    padding: 4rem 0 var(--line-space);
    max-width: 300px;
}
.intro {
    padding: var(--line-space);
}
.star i {
    font-size: 1.5rem;
}
#banner h1 {
    padding-bottom: var(--line-space);
}
.star::after {
    content:"";
    height:5px;
    width:50%;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
}
.star::before {
    content:"";
    height:5px;
    width:50%;
    border-radius: 5px;
    margin-right:5px;
}
#banner .star::after {
    background-color: white;
}
#banner .star::before {
    background-color: white;
}
#banner h2 {
    font-size: 1.2rem;
    padding: var(--line-space) 0;
}
/* PORTFOLIO */
 #portfolio .star::after {
    background-color: black;
 }
 #portfolio .star::before {
    background-color: black;
 }
/* ABOUT */
#about {
    background-color: #1abc9c;
}

/* CONTACT */
#contact .row {
    text-align: left;
}
/* FOOTER */
.footer-top {
    background-color: #3a546d;
}
.footer-bottom {
    background-color: #2c3e50;
    height: 4rem;
}
/* QUERIES */
@media screen and (min-width:576px) {

}