
html {
    scroll-padding: var(--height-header);
}
img {
    max-width: 100%;
}
#portfolio, #banner, #about, footer {
    text-align: center;
}
#portfolio, #banner, #about, #contacts {
    padding-bottom: var(--line-space);
}
:root {
    --height-header: 4rem;
    --line-space: 1.5rem;
    --primary-color: #1abc9c;
}
/* HEADER */
header {
    width:100%;
    height: var(--height-header);
    background-color: #2c3e50;
    color:white;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}
header [class^="col"] {
    line-height: var(--height-header);
    
}
header .brand {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: left;
}
header ul {
    list-style-type: none;
    text-align: right;
    justify-content: flex-end;
}
header .mobile {
    cursor: pointer;
    /* border: 2px solid white;
    border-radius: 10px; */

}
header a {
    color:inherit;
    text-decoration: none;
    margin-right:15px;
}
header a:hover {
    color:rgb(253, 201, 59);
    font-size: 1.2rem;
}
/* BANNER */
#banner {
    background-color: var(--primary-color);
    margin-top: var(--height-header);
    color:white;
}
.avatar img {
    padding: var(--line-space) 0;
    max-width: 300px;
}
.intro {
    padding: var(--line-space);
}
.star i {
    font-size: 1.5rem;
}
#banner h1 {
    padding-bottom: var(--line-space);
}
.star::after {
    content:"";
    height:5px;
    width:100%;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
}
.star::before {
    content:"";
    height:5px;
    width:100%;
    border-radius: 5px;
    margin-right:5px;
}
.white::after {
    background-color: white;
}
.white::before {
    background-color: white;
}
#banner h2 {
    font-size: 1.2rem;
    padding: var(--line-space) 0;
}
/* PORTFOLIO */
.black::after {
   background-color: black;
}
.black::before {
   background-color: black;
}

/* ABOUT */
#about {
    background-color: var(--primary-color);
    color:white
}
#about h2 {
    padding-top: var(--line-space);
}
#about .star {
    padding: var(--line-space) 0;
}
#about button {
    color:white;
    border-color: white;
}
#about button i {
    margin: 5px;
}
/* CONTACT */
#contacts {
    padding: var(--line-space) 0;
}
#contacts h2 {
    text-align: center;
}
#contacts .row {
    text-align: left;
}
#contacts input {
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin: 5px;
}
textarea {
    margin-bottom:var(--line-space);
}
#contacts button {
    background-color: var(--primary-color);
    border: 0px;
    text-align: left;
}
/* FOOTER */
footer {
    color:white;
}
.footer-top {
    background-color: #3a546d;
    padding: var(--line-space) 0;
}

footer .border {
    width:2rem;
    height:2rem;
    margin: 5px;
}
footer h2 {
    font-size: 1.4rem;
}
footer h3 {
    font-size: 1.2rem;
}
footer span, p {
    font-size: 1rem;
}
.border i {
    line-height: 2rem;
    font-size: 1rem;
}
.credits :last-child {
    color:rgb(87, 216, 87)
}
.footer-bottom {
    background-color: #2c3e50;
    padding: 2rem 0 4rem;;
}